
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1{
    text-align: center;
}

.cards-container{
    
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 5px;
}

.containerInputType{
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.pokedex-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    
}

.pagination{
    background-color: rgb(122, 223, 122);
}